# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
# Don't ignore .env file, we need it for Heroku
# .env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# embedded repos
/hsa-fixed
/hsa-clean
/demo-app
/human-story-atlas
/StoryDredge

# Don't ignore the SQLite database, we need it for Heroku
# /prisma/hsa.db 